<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Fase 3{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
  	  {# Cargamos la librería #}
	  {% load bootstrap4 %}
 
	  {# CSS Bootstrap #}
	  {% bootstrap_css %}
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Restaurante</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Contrato</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/Contrato/new/">Crear Contrato</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/Contrato/all/">Ver Contratos</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ingrediente</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/Ingrediente/new/">Crear Ingredientes</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/Ingrediente/all/">Ver Ingredientes</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/Menu/new/">Crear Menu</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/Menu/all/">Ver Menus</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Montaje</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/Montaje/new/">Crear Montaje</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/Montaje/all/">Ver Montajes</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Restaurante</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/Restaurante/new/">Crear Restaurante</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/Restaurante/all/">Listar Restaurantes</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Salon</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/Salon/new/">Crear Salon</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/Salon/all/">Ver Salones</a>
            </div>
          </li>
          
      
        </ul>
      </div>
 
    </nav>
  </header>
  <br>
  <br>
  {% block content %}
  <main>
  </main>
  {% endblock %}
  {% bootstrap_javascript jquery='full' %}
</body>
</html>