{% extends 'base.html' %}

{% block title %}Ingrediente{% endblock %}
{% block content %}
<main role="main">
  <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <br>
        <br>
        <h2 class="featurette-heading">Montaje. <br><span class="text-muted">Creacion de los nuevos ingredientes.</span></h2>
        <form method="POST" class="post-form">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-dark">Guardar</button>
        </form>
      </div>
    </div>
    <br><br>
</main>
{% endblock %}