{% extends 'base.html' %}

{% block title %}Menu{% endblock %}
{% block content %}
<main role="main">
  <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <br>
        <br>
        <h2 class="featurette-heading">Menu. <br><span class="text-muted">Creacion de los nuevos menus.</span></h2>
        <form method="POST" class="post-form">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-dark">Guardar</button>
        </form>
      </div>
    </div>
    <br><br>
    <h2 class="featurette-heading">Menu. <br><span class="text-muted">Lista de menus.</span></h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Precio</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
        <tr>
          <th scope="row">{{object.id}}</th>
          <td>{{object.Nombre}}</td>
          <td>{{object.Descripcion}}</td>
          <td>{{object.Precio}}</td>
        </tr>
        {% empty %}
        <tr>
          <th scope="row">No hay menus aun</th>
        </tr>      
        {% endfor %}
      </tbody>
    </table>
</main>
{% endblock %}